html, body {
   font-family:sans, Arial;
   font-size:10pt;
}

#debianlogo {
   float:right;
}

#content {
   clear:both;
}

#agpllogo {
   float:left;
   margin-right:10px;
}

table {
   border-collapse:collapse;
   width:100%;
}

th, td {
   border:1px solid grey;
}

tr.section {
   background-color: #a0a0a0;
   color: #f0f0f0;
}

tr.odd td {
   background-color: #f0f0f0;
}

tr.even td {
   background-color: #e0e0ff;
}

tr.error td {
   background-color: #ffe0e0;
}

td {
   vertical-align:top;
   padding:2px;
}

td p {
   padding:0;
   margin:0;
}

.errormsg {
   color:red;
}

.hidden {
   display:none;
}
